.footer {
    max-width: 1055px;
    margin: 0 auto;
}
.container__footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer__block {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

}
.footer__block a{
    text-decoration:none;
}
.footer__case_1 {
    display: flex;
    flex-direction: column;

}
.footer__logo {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #212B31;
    position: relative;
    margin-left: 30px;

}
.footer__logo::before{
    position: absolute;
    content: url(/img/logo__mini.svg);
    width: 22px;
    height: 33px;
    top: -6px;
    left: -28px;
    
}
.footer__case_2 {
    display: flex;
    flex-direction: column;

}
.footer__name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #212B31;
    margin: 0px 0px 22px 0px;
    
    }
.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #72787D;
    margin-top:8px ;
    }
    .footer__first__case p{
    margin: 23px 0xp 0px 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
     /* identical to box height, or 150% */


    color: #72787D;
 }
.footer__second__case p{
    margin: 10px 0xp 0px 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #72787D;
}
.facebook{
    margin-top: 20px;
}
.footer__line{
    display: flex;
    justify-content: space-between;
    max-width: 1056px;
    height: 1px;
    background: #DADEDF;
    margin-top: 160px;
}
.footer__line p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #72787D;

}  